<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdmd.sdmdbackend.mapper.LikesMapper">

    <select id="selectLikeList" resultType="com.sdmd.sdmdbackend.entity.Likes">
        SELECT id,
        FROM district
        WHERE district.id
                  IN (SELECT district_id
                      FROM likse
                      WHERE user_id = #{id})
    </select>





</mapper>